// abstracts
@import 'abstracts/mixins';
@import 'abstracts/variables';

// Basics
@import 'base/reset';
@import 'base/typography';
@import 'base/utilities';

// Components

// Layout
@import 'Layout/academics';
@import 'Layout/apply';
@import 'Layout/certification';
@import 'Layout/clubs';
@import 'Layout/copyright';
@import 'Layout/courses';
@import 'Layout/footer';
@import 'Layout/header';
@import 'layout/navbar';
@import 'layout/navigation';
@import 'layout/news';
@import 'layout/recognition';
@import 'layout/rise';
@import 'layout/secondarylinks';
@import 'layout/specialities';
@import 'layout/subscribe';
@import 'layout/whysse';

// Pages
@import 'Pages/page-about-us';
@import 'Pages/page-committee';
@import 'Pages/page-course';
@import 'Pages/page-courses';
@import 'Pages/page-facilities';
@import 'Pages/page-home';
@import 'Pages/page-message';
@import 'Pages/page-placements';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desk) {
    font-size: 65%;
  }
}

body {
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}
