body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: $color-grey-dark;
  box-sizing: border-box;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 3rem;
  padding-bottom: 0.8rem;
}

h2 {
  font-family: 'Roboto Slab', serif;
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 0.8rem;
}

h3 {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
  font-size: 2rem;
}

p {
  @include page-paragraph;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $color-grey-dark;
  line-height: 3rem;
}
