@mixin zeroAround {
  margin: 0;
  padding: 0;
}

@mixin fullSiteWidth {
  width: 100%;
}

@mixin containerWidth-L {
  width: 120rem;
  margin: 0 auto;
}

@mixin containerWidth-M {
  width: 100rem;
  margin: 0 auto;
}

@mixin containerWidth-S {
  width: 80rem;
  margin: 0 auto;
}

@mixin containerWidth-XS {
  width: 60rem;
  margin: 0 auto;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}

@mixin roboto {
  font-family: 'Roboto Slab', serif;
}

@mixin navlinks {
  text-decoration: none;
  color: $color-white;
  transition: all 0.2s;

  &:hover {
    color: $color-secondary-light;
    text-shadow: 0 2px 1px rgba($color-black, 0.8);
  }
}

@mixin blue-gradient {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-dark,
    $color-secondary-light
  );
  -webkit-background-clip: text;
  color: transparent;
}

@mixin primary-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: $color-white;
  background-color: $color-quaternary-dark;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0.1rem 0.1rem rgba($color-black, 0.1);
  transition: all 0.1s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.3rem 0.3rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.1);
  }
}

// PAGE DEFAULT
@mixin page-title-white {
  display: block;
  position: absolute;
  bottom: 2rem;
  font-weight: 300;
  font-size: 6rem;
  line-height: 6rem;
  color: $color-white;
}

@mixin page-title-primary {
  display: block;
  position: absolute;
  bottom: 2rem;
  font-weight: 300;
  font-size: 6rem;
  line-height: 6rem;
  color: $color-primary-dark;
}

@mixin page-content-specification {
  width: $site-width;
  height: auto;
  min-height: 45rem;
  margin: 15rem auto 5rem;
  display: block;
  position: relative;
}

@mixin page-heading-primary {
  font-weight: 300;
  font-size: 4rem;
  line-height: 5rem;
  color: $color-primary-dark;
}

@mixin page-heading-secondary {
  font-weight: 300;
  font-size: 4rem;
  line-height: 5rem;
  color: $color-secondary-dark;
}

@mixin page-description {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

@mixin page-h3-primary {
  color: $color-primary-dark;
  font-weight: 300;
  font-size: 2.5rem;
  font-weight: 400;
}

@mixin page-h3-secondary {
  color: $color-secondary-light;
  font-weight: 300;
  font-size: 2.5rem;
  font-weight: 400;
}

@mixin page-paragraph {
  width: 100%;
  margin: 0 0 1rem 0;
}

@mixin page-bullet {
  font-size: $default-font-size;
  font-weight: 400;
  padding-left: 1rem;
  line-height: 3rem;

  &:last-child {
    padding-bottom: 2rem;
  }
}

@mixin inside-page-sidebar-title {
  display: block;
  padding: 1.5rem 2.5rem;
  color: $color-white;
  font-weight: 400;
  background-color: darken($color-secondary-light, 5%);
}

@mixin course-page-sidebar-title {
  display: block;
  padding: 1.5rem 2.5rem;
  color: $color-black;
  font-weight: 400;
  background-color: darken($color-tertiary-light, 10%);
}

@mixin page-sidebar-list {
  list-style-type: none;
  font-size: 1.6rem;
  font-weight: 400;
}

@mixin page-sidebar-list-link-black {
  text-decoration: none;
  color: $color-black;
  padding: 0.75rem 2.5rem;
  display: block;
  transition: all 0.3s;
}

@mixin page-sidebar-list-link-white {
  text-decoration: none;
  color: $color-white;
  padding: 0.75rem 2.5rem;
  display: block;
  transition: all 0.3s;
}
