@mixin zeroAround {
  margin: 0;
  padding: 0;
}

@mixin fullSiteWidth {
  width: 100vw;
}

@mixin containerWidth-L {
  width: 120rem;
  margin: 0 auto;
}

@mixin containerWidth-M {
  width: 100rem;
  margin: 0 auto;
}

@mixin containerWidth-S {
  width: 80rem;
  margin: 0 auto;
}

@mixin containerWidth-XS {
  width: 60rem;
  margin: 0 auto;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

@mixin montserrat {
  font-family: 'Montserrat', sans-serif;
}

@mixin roboto {
  font-family: 'Roboto Slab', serif;
}

@mixin navlinks {
  text-decoration: none;
  color: $color-white;
  transition: all 0.2s;

  &:hover {
    color: $color-secondary-light;
    text-shadow: 0 2px 1px rgba($color-black, 0.8);
  }
}

@mixin blue-gradient {
  display: inline-block;
  background-image: linear-gradient(
    to right,
    $color-primary-dark,
    $color-secondary-light
  );
  -webkit-background-clip: text;
  color: transparent;
}

@mixin primary-btn {
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: $color-white;
  background-color: $color-quaternary-dark;
  padding: 0.4rem 0.8rem;
  box-shadow: 0 0.1rem 0.1rem rgba($color-black, 0.1);
  transition: all 0.1s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 0.3rem 0.3rem rgba($color-black, 0.2);
  }

  &:active {
    transform: translateY(-2px);
    box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.1);
  }

  @include respond(phone) {
    padding: 1rem 0.8rem;
    font-size: $default-font-size;
    width: auto;
  }
}

// PAGE DEFAULT
@mixin page-title-white {
  display: block;
  position: absolute;
  bottom: 2rem;
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 5rem;
  color: $color-white;

  @include respond(tab-port) {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

@mixin page-title-primary {
  display: block;
  position: absolute;
  bottom: 2rem;
  font-weight: 300;
  font-size: 4.5rem;
  line-height: 5rem;
  color: $color-primary-dark;

  @include respond(tab-port) {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}

@mixin page-content-specification {
  width: $site-width;
  height: auto;
  min-height: 45rem;
  margin: 15rem auto 5rem;
  display: block;
  position: relative;

  @include respond(tab-port) {
    margin: 10rem auto 5rem;
  }

  @include respond(phone) {
    margin: 3rem auto 5rem;
  }
}

@mixin course-content-specification {
  width: $site-width;
  height: auto;
  min-height: 75rem;
  margin: 15rem auto 5rem;
  display: block;
  position: relative;

  @include respond(tab-port) {
    margin: 10rem auto 5rem;
  }

  @include respond(phone) {
    margin: 3rem auto 5rem;
  }
}

@mixin message-content-specification {
  width: $site-width;
  height: auto;
  min-height: 95rem;
  margin: 10rem auto 5rem;
  display: block;
  position: relative;

  @include respond(tab-port) {
    margin: 4rem auto 5rem;
    min-height: auto;
  }

  @include respond(phone) {
    margin: 3rem auto 5rem;
  }
}

@mixin committees-content-specification {
  width: $site-width;
  height: auto;
  min-height: 95rem;
  margin: 5rem auto 5rem;
  display: block;
  position: relative;

  @include respond(tab-port) {
    margin: 4rem auto 5rem;
    min-height: auto;
  }

  @include respond(phone) {
    margin: 3rem auto 5rem;
  }
}

@mixin committee-content-specification {
  width: $site-width;
  height: auto;
  min-height: 95rem;
  margin: 5rem auto 5rem;
  display: block;
  position: relative;

  @include respond(tab-port) {
    margin: 4rem auto 5rem;
    min-height: auto;
  }

  @include respond(phone) {
    margin: 3rem auto 5rem;
  }
}

@mixin page-heading-primary {
  font-weight: 300;
  font-size: 3rem;
  line-height: 4rem;
  padding-bottom: 0;
  color: $color-primary-dark;
}

@mixin page-heading-secondary {
  font-weight: 300;
  font-size: 3rem;
  line-height: 4rem;
  color: $color-secondary-light;
}

@mixin page-heading-white {
  font-weight: 300;
  font-size: 3rem;
  line-height: 4rem;
  color: $color-white;
}

@mixin page-description {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 3rem;
}

@mixin page-h3-primary {
  color: $color-primary-dark;
  font-weight: 300;
  font-size: 2.5rem;
}

@mixin page-h3-secondary {
  color: $color-secondary-light;
  font-weight: 300;
  font-size: 2.5rem;
}

@mixin page-paragraph {
  font-size: 1.6rem;
  margin: 0 0 1rem 0;
  font-weight: 400;
  width: 100%;

  @include respond(tab-land) {
    font-size: 1.7rem;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  @include respond(tab-port) {
    font-size: 1.7rem;
    width: 100%;
    margin: 0 0 1rem 0;
  }

  @include respond(phone) {
    font-size: 1.8rem;
    width: 100%;
    margin: 0 0 1rem 0;
  }
}

@mixin page-bullet {
  font-size: $default-font-size;
  font-weight: 400;
  padding-left: 1rem;
  line-height: 3rem;

  @include respond(tab-port) {
    font-size: 1.7rem;
  }

  @include respond(phone) {
    font-size: 1.8rem;
  }

  &:last-child {
    padding-bottom: 2rem;
  }
}

@mixin module-bullet {
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 3rem;
  list-style-type: none;

  &:last-child {
    padding-bottom: 1rem;
  }
}

@mixin inside-page-sidebar-title {
  display: block;
  padding: 1.5rem 2.5rem;
  color: $color-white;
  font-weight: 400;
  background-color: $color-secondary-dark;
}

@mixin course-page-sidebar-title {
  display: block;
  padding: 1.5rem 2.5rem;
  color: $color-black;
  font-weight: 400;
  background-color: darken($color-tertiary-light, 10%);
}

@mixin course-page-sidebar-hod {
  display: block;
  padding: 1rem 2.5rem 0;
  color: $color-black;
  font-size: $h4-font-size;
  font-weight: 500;
}

@mixin page-sidebar-list {
  list-style-type: none;
  font-size: 1.6rem;
  font-weight: 400;
}

@mixin page-sidebar-list-link-black {
  text-decoration: none;
  color: $color-black;
  padding: 0.75rem 2.5rem;
  display: block;
  transition: all 0.3s;
}

@mixin page-sidebar-list-link-white {
  text-decoration: none;
  color: $color-white;
  padding: 0.75rem 2.5rem;
  display: block;
  transition: all 0.3s;
}

@mixin imageFill {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

// MEDIA QUERY MANAGER

/*

0 - 600:  Phone
600 - 900:    Tablet Portrait
900 - 1200:   Table Landscape
1200 - 1800:  Desktop
1800+         Big Desktop
-------------------------------
Breakpoint Argument Choices
- phone
- tab-port
- tab-land
- big-desk
*/

// 1em = 16px

@mixin respond($breakpoint) {
  // 475px
  @if $breakpoint == committee {
    @media only screen and (max-width: 29.68em) {
      @content;
    }
  }

  // 450px
  @if $breakpoint == phone-cards {
    @media only screen and (max-width: 28.125em) {
      @content;
    }
  }

  // 600px
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  // 900px
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  // 1250px
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 78.12em) {
      @content;
    }
  }

  // 1800px
  @if $breakpoint == big-desk {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
