// Colors
$color-primary-dark: #112c7e;
$color-primary-light: #3052b9;

$color-secondary-dark: #1389a3;
$color-secondary-light: #33b0cc;

$color-tertiary-dark: #fab513;
$color-tertiary-light: #ffcc56;

$color-quaternary-dark: #ef7c00;
$color-quaternary-light: rgb(255, 193, 100);

$color-black: #000000;
$color-grey-dark: #525252;
$color-grey-light-1: #e4e2e2;
$color-grey-light-2: #eee;
$color-white: #fff;

// lengths
$full-width: 100%;
$site-width: 120rem;

// Font sizes
$default-font-size: 1.8rem;
$menu-font-size: 1.2rem;
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 3rem;
$h4-font-size: 2.5rem;
$h5-font-size: 2rem;
$para-font-size: 1.6rem;
$pages-h1: 6rem;

// Secondary Links
$section-heading-size: 4rem;
$secondary-links-height: 15rem;
$secondary-links-h2-size: 1.8rem;

// Paragraph Width
$home-paragraph-width: 70%;

// Bottom Margin
$margin-tiny: 2rem;
$margin-small: 4rem;
$margin-medium: 6rem;
$margin-big: 8rem;
$margin-large: 10rem;
