.section-copyright {
  width: 100%;
  height: auto;
  padding: $margin-spec;
  background-color: darken($color-primary-dark, 10%);

  .copyright {
    @include flexRow;
    @include containerWidth-L;

    @include respond(tab-land) {
      width: 100%;
      padding: 0 1rem;
    }

    p {
      color: $color-secondary-light;
      display: inline-block;
      @include zeroAround;
      width: auto;
      font-size: 1.2rem;

      @include respond(tab-land) {
        font-size: 1.4rem;
      }
    }
  }
}
