.nav {
  width: $full-width;
  height: auto;
  position: relative;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 500;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 0.5s;
  text-transform: uppercase;
  color: $color-white;
  transition: all 0.3s;

  @include respond(tab-land) {
    width: $full-width;
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: capitalize;
    display: block;
    background-color: transparent;
    padding: 0 5%;
  }

  @include respond(phone) {
    padding: 0;
  }

  .quick-menu {
    width: $full-width;
    background-color: $color-primary-light;
    height: 4rem;
    display: block;
    transition: all 0.3s;

    @include respond(tab-land) {
      width: auto;
      height: 100%;
      background-color: transparent;
      display: block;
      float: left;
    }

    li {
      list-style-type: none;
      display: inline-block;

      @include respond(tab-land) {
        display: block;
      }

      a {
        color: $color-white;
        text-decoration: none;
        padding: 1.25rem 0;
        transition: all 0.3s;

        &:hover {
          color: $color-secondary-light;
          text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
        }

        @include respond(tab-land) {
          padding: 0.8rem 0 0.8rem 1.5rem;
          width: 100%;
          display: block;

          &:hover {
            background-color: $color-primary-dark;

            @include respond(tab-land) {
              color: $color-white;
            }
          }
        }
      }
    }

    .quicklinks {
      @include containerWidth-L;
      @include flexRow;
      height: 4rem;
      align-items: center;

      @include respond(tab-land) {
        width: 20rem;
        height: auto;
        display: inline-block;
        @include zeroAround;
        float: left;
        display: none;

        @include respond(tab-port) {
          width: 15rem;
        }
      }

      &__left {
        &--item {
          margin-right: 1rem;

          @include respond(tab-land) {
            @include zeroAround;
          }

          @include respond(tab-port) {
          }
        }
      }
      &__right {
        &--item {
          margin-left: 1rem;

          @include respond(tab-land) {
            @include zeroAround;
          }
        }
      }
    }
  }

  .site-menu {
    width: $full-width;
    background-color: $color-primary-dark;
    height: 8rem;
    display: block;
    transition: all 0.3s;

    @include respond(tab-land) {
      width: auto;
      background-color: transparent;
      display: none;
    }

    .sitelinks {
      @include containerWidth-L;
      @include flexRow;
      height: 8rem;

      @include respond(tab-land) {
        display: inline-block;
        width: 30rem;
      }

      @include respond(phone) {
        width: 100%;
      }

      &__logo {
        width: 14rem;
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.3s;

        @include respond(tab-land) {
          display: none;
          position: absolute;
          width: 18rem;
          top: 1.8rem;
          left: 8rem;
        }

        img {
          display: block;
          transition: all 0.3s;
          text-align: left;

          @include respond(tab-land) {
            align-self: center;
          }
        }
      }

      &__links {
        width: auto;
        height: 8rem;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include respond(tab-land) {
          display: block;
          width: 15.5rem;
        }

        @include respond(tab-port) {
          width: 100%;
        }

        @include respond(phone) {
          width: 100%;
        }

        .site-link-main {
          @include zeroAround;

          &__item {
            list-style-type: none;
            display: inline-block;
            margin-left: 1.5rem;
            position: relative;

            @include respond(tab-land) {
              display: block;
              @include zeroAround;
            }

            @include respond(tab-port) {
              display: block;
              @include zeroAround;
              width: 15.5rem;
            }

            @include respond(phone) {
              text-align: center;
              display: inline-block;
              width: 100%;
              text-transform: uppercase;
            }

            a {
              color: $color-white;
              text-decoration: none;
              padding: 3.3rem 0;
              transition: all 0.3s;

              @include respond(tab-land) {
                padding: 0.8rem 0 0.8rem 1.5rem;
                width: 100%;
                display: block;

                &:hover {
                  background-color: $color-primary-dark;
                }
              }

              @include respond(phone) {
                padding: 1.5rem;
              }

              &:hover {
                color: $color-secondary-light;

                @include respond(tab-land) {
                  color: $color-white;
                }
              }
            }

            &:hover .site-link-sub {
              opacity: 1;
              visibility: visible;
              top: 4.8rem;
            }

            .site-link-sub {
              width: auto;
              height: auto;
              display: block;
              position: absolute;
              top: 6rem;
              background-color: $color-primary-dark;
              border-top: 2px solid $color-tertiary-dark;
              opacity: 0;
              visibility: hidden;
              font-weight: 600;
              transition: all 0.4s;
              box-shadow: 0 1rem 1rem rgba($color-black, 0.3);
              @include zeroAround;

              @include respond(tab-land) {
                width: auto;
                position: absolute;
                left: 15.5rem;
                background-color: transparent;
                margin-top: -4.8rem;
                border-top: none;
                box-shadow: none;
              }

              @include respond(tab-port) {
                width: auto;
              }

              @include respond(phone) {
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: fixed;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: $color-primary-dark;
                z-index: 100;
              }

              &__item {
                width: 100%;
                list-style-type: none;
                display: block;
                text-transform: uppercase;
                font-weight: 500;
                border-bottom: 1px solid $color-secondary-dark;
                position: relative;

                @include respond(tab-land) {
                  border-bottom: none;
                  background-color: $color-primary-dark;
                  font-weight: 400;
                  text-transform: capitalize;
                }

                @include respond(phone) {
                  margin: 0 auto;
                  width: 70%;
                  border-top: 1px solid $color-secondary-dark;

                  &:last-child {
                    border-bottom: 1px solid $color-secondary-dark;
                  }
                }

                a {
                  padding: 1rem 1rem;
                  display: block;
                  @include navlinks;
                  text-decoration: none;

                  @include respond(tab-land) {
                    padding: 0.8rem 1.5rem;
                  }

                  @include respond(tab-land) {
                    padding: 1.2rem 1.5rem;
                  }

                  @include respond(phone) {
                    padding: 1.5rem 1.5rem;
                  }

                  -webkit-transition: opacity 0.1s ease-in;
                  -moz-transition: opacity 0.1s ease-in;
                  -o-transition: opacity 0.1s ease-in;
                  transition: opacity 0.1s ease-in;

                  &:hover {
                    background-color: darken($color-primary-dark, 5%);
                    color: $color-tertiary-light;
                  }

                  .right-arrow {
                    display: inline-block;
                    position: absolute;
                    right: 1rem;

                    @include respond(phone) {
                      position: relative;
                      margin-left: 1rem;
                    }
                  }
                }

                .site-link-sub-sec {
                  width: 20rem;
                  background-color: $color-primary-dark;
                  position: absolute;
                  top: -2px;
                  left: 12.5rem;
                  border-top: 2px solid $color-tertiary-dark;
                  box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
                  padding: 0;
                  box-sizing: border-box;
                  visibility: hidden;
                  opacity: 0;
                  transition: all 0.2s;

                  @include respond(tab-land) {
                    width: 40rem;
                    border-top: none;
                    top: 0;
                    text-transform: capitalize;
                    left: 14.5rem;
                  }

                  @include respond(tab-port) {
                    width: 30rem;
                    left: 15rem;
                    box-shadow: none;
                  }

                  @include respond(phone) {
                    width: 100%;
                    box-shadow: none;
                    left: 0;
                    z-index: 15;
                  }

                  &__item {
                    width: 100%;
                    display: block;
                    padding: 0;
                    margin: 0;
                    border-top: 1px solid $color-secondary-dark;

                    &:last-child {
                      border-bottom: 1px solid $color-secondary-dark;
                    }

                    @include respond(tab-land) {
                      border-bottom: none;
                    }

                    @include respond(phone) {
                      width: 100%;
                      border-bottom: none;
                    }

                    &:hover {
                      background-color: darken($color-primary-dark, 5%);
                    }

                    a:link {
                      display: block;
                      margin: 0;
                      padding: 0.9rem 1.5rem;

                      @include respond(phone) {
                        padding: 1.5rem 1.5rem;
                      }
                    }
                  }
                }

                &:hover .site-link-sub-sec {
                  visibility: visible;
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
  }

  .mobile-nav {
    width: 100%;
    background-color: $color-primary-dark;
    opacity: 0.9;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
    z-index: 20000;

    @include respond(tab-land) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 8rem;
      display: block;
      opacity: 1;
      z-index: 1000;
    }

    &__header {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .mobile-nav__logo {
        width: 14rem;
        height: 5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all 0.3s;

        a {
          @include zeroAround;
          display: inline-block;

          img {
            height: 5rem;
            display: block;
            transition: all 0.3s;
            // text-align: left;

            @include respond(tab-land) {
              align-self: center;
            }
          }
        }

        @include respond(tab-land) {
          width: 18rem;
          height: 8rem;

          // top: 1.2rem;
          // left: 8rem;
        }
      }

      .icon-burger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        cursor: pointer;
        z-index: 100;

        &__line {
          display: block;
          width: 3rem;
          height: 2px;
          background-color: $color-white;
          margin: 3px;
          border-radius: 10px;
          opacity: 1;
          transition: all 0.3s;
        }
      }
    }
  }

  #nav-toggle {
    position: fixed;
    // margin-top: -100px;
    display: none;

    @include respond(tab-land) {
      display: block;
      position: absolute;
      z-index: 10000;
      margin-top: -1000px;
      display: block;
    }
  }

  .menu-panel {
    position: absolute;
    display: block;
    transition: all 0.3s;

    @include respond(tab-land) {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      visibility: hidden;
      background-color: $color-primary-light;
      opacity: 0;
      z-index: -100;
    }

    @include respond(tab-port) {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-primary-light;
    }
  }

  // .sub-menu-panel {
  //   width: 100%;
  //   height: 100%;
  //   position: absolute;
  //   top: 9rem;
  //   left: 0;
  //   background-color: red;
  //   display: block;
  //   z-index: -10;
  // }
}
