.menu {
  @include fullSiteWidth;
  background-color: $color-primary-light;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 500;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all 0.5s;
}
.q-links {
  @include containerWidth-L;
  @include flexRow;
  height: 4rem;

  a {
    padding: 1.6rem 1rem;
  }

  ul {
    @include zeroAround;
    align-self: center;

    li {
      text-transform: uppercase;
      list-style-type: none;
      display: inline-block;

      a {
        @include navlinks;
      }
    }
  }
  &__left {
    a:first-child {
      padding-left: 0;
    }
  }

  &__right {
    a:last-child {
      padding-right: 0;
    }
  }
}

#menubtn {
  position: fixed;
  top: 6.4rem;
  right: 5rem;
  z-index: 10000;
  width: 3rem;
  height: 3rem;
  display: none;
}

.site-links {
  @include fullSiteWidth;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 500;
  background-color: $color-primary-dark;
  display: block;
  position: fixed;
  top: 4rem;
  z-index: 110;
  box-shadow: 0 0.5rem 2rem rgba($color-black, 0.3);
  transition: all 0.5s;
}

.navbar {
  @include containerWidth-L;
  @include flexRow;
  height: 8rem;
  transition: all 0.5s;
}

.logo {
  align-self: center;
  line-height: 0;
  position: relative;

  &__img {
    width: 20rem;
    transition: all 0.5s;
  }
}

.navigation {
  align-self: center;

  &__list {
    @include zeroAround;
  }

  &__item {
    list-style-type: none;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;

    &--link {
      text-decoration: none;
      padding: 3.2rem 0 3.2rem 1.6rem;
      color: $color-white;

      @include navlinks;

      & > last-child {
        padding-right: 0;
      }
    }
  }
}

.submenu {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  top: 5.8rem;
  background-color: $color-primary-dark;
  border-top: 2px solid $color-tertiary-dark;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  box-shadow: 0 1rem 1rem rgba($color-black, 0.3);
  @include zeroAround;

  &__item {
    width: 100%;
    list-style-type: none;
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid $color-secondary-dark;

    a {
      padding: 1rem 1rem;
      display: block;
      @include navlinks;
      text-decoration: none;

      -webkit-transition: opacity 0.1s ease-in;
      -moz-transition: opacity 0.1s ease-in;
      -o-transition: opacity 0.1s ease-in;
      transition: opacity 0.1s ease-in;

      &:hover {
        background-color: darken($color-primary-dark, 5%);
      }
    }

    .submenu-2 {
      width: 20rem;
      background-color: $color-primary-dark;
      position: absolute;
      top: -2px;
      left: 18rem;
      border-top: 2px solid $color-tertiary-dark;
      box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
      padding: 0;
      box-sizing: border-box;
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s;

      li {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0;
        border-bottom: 1px solid $color-secondary-dark;

        &:hover {
          background-color: darken($color-primary-dark, 5%);
        }

        a:link {
          display: block;
          margin: 0;
          padding: 0.9rem 1.5rem;
        }
      }
    }
  }
}

.navigation__item:hover .submenu {
  opacity: 1;
  visibility: visible;
  top: 4.8rem;
}

.submenu__item:hover .submenu-2 {
  visibility: visible;
  opacity: 1;
}

.linked {
  > a {
    color: $color-tertiary-light;
  }
}

.alert {
  border-left: 3px solid red;
}
