.section-rise {
  height: auto;
  transition: all 0.5s;

  .rise {
    @include containerWidth-L;
    @include flexRow;
    height: 50rem;
    background-color: $color-grey-light-2;
    transition: all 0.5s;
    position: relative;

    @include respond(tab-land) {
      width: 90%;
    }

    &__img {
      width: 50%;
      height: 100%;
      overflow: hidden;
      img {
        width: 100%;
        @include respond(tab-land) {
          width: auto;
          height: 100%;
          position: absolute;
          right: 0;
        }
      }
      transition: all 0.3s;
      position: relative;
    }

    &__text {
      width: 50%;
      height: 100%;
      text-align: center;
      padding: 4rem;
      box-sizing: border-box;
      transition: all 0.5s;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2 {
        @include blue-gradient;
        font-weight: 400;
        transition: all 0.5s;
        position: relative;
      }

      p {
        width: 100%;
        transition: all 0.5s;
        position: relative;
      }
    }
  }
}
