.secondary-links {
  width: 100%;
  height: 15rem;
  display: block;
  background-color: $color-grey-light-2;
  border-bottom: 1px solid $color-grey-dark;
  overflow: hidden;
}

.secondary-links-container {
  @include containerWidth-L;
  height: auto;

  @include respond(tab-land) {
    @include containerWidth-M;
  }

  @include respond(tab-port) {
    width: 100%;
  }
}

.secondary-card {
  width: 25%;
  height: 15rem;
  text-align: center;
  position: relative;
  display: block;
  transition: all 0.8s;
  float: left;
  transform: rotateY(90deg);

  &__front {
    width: 100%;
    height: 15rem;
    display: block;
    position: absolute;
    padding: 2.5rem;
    box-sizing: border-box;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transition: all 0.5s;
    background-image: linear-gradient(
      90deg,
      $color-grey-light-1,
      $color-grey-light-2
    );

    &--img {
      height: 6rem;
      display: block;
      margin: 0 auto 1.5rem auto;
    }

    &--h3 {
      @include blue-gradient;
      @include zeroAround;

      @include respond(tab-port) {
        // @include montserrat;
        font-size: 1.9rem;
        // color: $color-primary-dark;
      }
    }
  }

  &__back {
    width: 100%;
    height: 15rem;
    display: block;
    position: absolute;
    padding: 2.5rem;
    box-sizing: border-box;
    background-image: linear-gradient(
      to right,
      $color-primary-dark,
      $color-primary-light
    );
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    transition: all 0.5s;

    &--img {
      height: 6rem;
      display: block;
      margin: 0 auto 1.8rem auto;
    }

    &--link {
      display: inline-block;
      text-transform: uppercase;
      font-size: 1.2rem;
      font-weight: 500;
      text-decoration: none;
      color: $color-white;
      background-color: $color-quaternary-dark;
      padding: 0.4rem 0.8rem;
      box-shadow: 0 0.1rem 0.1rem rgba($color-black, 0.3);
      transition: all 0.3s;
      backface-visibility: hidden;

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 0.3rem 0.3rem rgba($color-black, 0.5);
      }

      &:active {
        transform: translateY(-2px);
        box-shadow: 0 0.2rem 0.2rem rgba($color-black, 0.3);
      }
    }
  }

  &:hover .secondary-card__front {
    transform: rotateY(180deg);
  }

  &:hover .secondary-card__back {
    transform: rotateY(0deg);
  }
}
