.specialities {
  @include containerWidth-L;
  @include flexRow;
  gap: 3rem;
  transition: all 0.5s;
  padding-top: 0;

  @include respond(tab-land) {
    width: 90%;
  }

  &__item {
    width: calc((100% - 3rem) / 2);
    min-width: 40rem;
    height: 30rem;
    background-color: $color-grey-light-2;
    overflow: hidden;
    text-align: center;
    display: block;
    position: relative;
    border-radius: 3px;

    @include respond(tab-port) {
      width: calc((100% - 3rem) / 2);
      min-width: 30rem;
      height: 22rem;
    }

    &--overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 0;
      background-color: rgba($color-black, 0.5);
      transition: all 0.3s;
    }

    &--orange {
      width: 100%;
      height: 100%;
      position: absolute;
      display: block;
      top: 100%;
      background-image: linear-gradient(
        to bottom,
        $color-quaternary-dark,
        $color-quaternary-light
      );
      transition: all 0.3s;
    }

    &--img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover &--orange {
      position: absolute;
      display: block;
      top: 50%;
    }

    &:hover &--overlay {
      position: absolute;
      display: block;
      top: 50%;
    }
  }

  &__text {
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;

    &--h2 {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-weight: 400;
      color: $color-white;
      @include zeroAround;

      @include respond(tab-port) {
        font-size: $h5-font-size;
        display: block;
      }
    }

    &--p {
      color: $color-white;
      width: 100%;
      font-weight: 500;
      font-size: $default-font-size;
      margin-bottom: 1rem;
      line-height: 2rem;
    }

    &--link {
      @include primary-btn;
    }
  }
}
