.whysse {
  @include containerWidth-L;
  display: block;
  position: relative;
  text-align: center;
  transition: all 0.5s;

  @include respond(tab-land) {
    @include containerWidth-M;
  }

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(phone) {
    width: 90%;
  }

  &__h1 {
    @include blue-gradient;
    transition: all 0.5s;
    position: relative;

    @include respond(tab-land) {
      font-size: $h2-font-size;
    }

    @include respond(tab-port) {
      font-size: $h2-font-size;
    }

    @include respond(phone) {
      font-size: $h3-font-size;
    }
  }

  &__p {
    @include page-paragraph;
    @include containerWidth-XS;
    margin: 0 auto;
    font-size: $default-font-size;
    transition: all 0.5s;
    position: relative;

    @include respond(tab-land) {
      @include containerWidth-S;
      margin: 0 auto;
    }

    @include respond(tab-port) {
      width: 80%;
      margin: 0 auto;
    }

    @include respond(phone) {
      width: 90%;
      margin: 0 auto;
    }
  }
}
