.whysse {
  @include containerWidth-L;
  display: block;
  position: relative;
  text-align: center;
  transition: all 0.5s;

  @include respond(tab-land) {
    @include containerWidth-M;
  }

  @include respond(tab-port) {
    width: 100%;
  }

  &__h1 {
    @include blue-gradient;
    transition: all 0.5s;
    position: relative;

    @include respond(tab-port) {
      font-size: $h2-font-size;
    }
  }

  &__p {
    @include containerWidth-XS;
    font-size: $default-font-size;
    transition: all 0.5s;
    position: relative;
  }
}
