.faculty-page {
  position: relative;
  display: block;
  @include zeroAround;

  &__topband {
    position: relative;
    display: block;
    background-color: $color-tertiary-light;
    width: $full-width;
    height: 50rem;
    margin: 0 auto;
    border-bottom: 4px solid $color-tertiary-dark;

    @include respond(tab-port) {
      width: 100%;
      height: 30rem;
    }

    .faculty-page-top-band__header {
      width: $site-width;
      height: 100%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 90%;
        min-width: 90rem;
      }

      @include respond(tab-port) {
        width: 90%;
        min-width: 50rem;
      }

      @include respond(phone) {
        width: 90%;
        min-width: 20rem;
      }

      > div {
        position: relative;
      }

      &--title {
        display: block;
        float: left;
        width: 50%;
        height: 100%;

        @include respond(tab-port) {
          width: 45%;
          word-wrap: break-word;
        }

        @include respond(phone) {
          width: 100%;
          min-width: 37.5rem;
        }

        h1 {
          @include page-title-primary;
          @include respond(phone) {
            width: 100%;
          }
        }
      }

      &--image {
        display: block;
        position: relative;
        top: 40%;
        width: 50%;
        height: 40rem;
        overflow: hidden;
        float: right;
        border-bottom: 4px solid $color-tertiary-dark;
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);

        @include respond(tab-land) {
          height: 35rem;
        }

        @include respond(tab-port) {
          height: 25rem;
        }

        @include respond(phone) {
          display: none;
        }

        img {
          width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          @include respond(tab-land) {
            object-fit: cover;
            height: 100%;
          }
        }
      }
    }
  }
}

.faculty-page-content {
  @include course-content-specification;

  @include respond(tab-land) {
    width: 90%;
  }

  &__main {
    width: 80rem;
    height: auto;
    display: inline-block;
    position: relative;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    &--h2 {
      @include page-heading-primary;
    }

    &--h3 {
      color: $color-primary-dark;
      font-weight: 300;
      font-size: $h3-font-size;
    }
    &--h4 {
      color: $color-primary-light;
      font-weight: 300;
      font-size: $h4-font-size;
      font-weight: 500;
    }

    &--description {
      @include page-description;
    }

    .lilink {
      width: 17rem;
      height: 2.5rem;
      background-color: aliceblue;
      display: inline-block;
      transition: all 0.3s;
      border-radius: 3px;

      &:hover {
        background-color: rgb(215, 233, 249);
      }

      a {
        text-decoration: none;
      }

      &__logo {
        width: 2.5rem;
        height: 2.5rem;
        display: inline-block;
        float: left;
        margin-right: 1rem;

        img {
          @include imageFill;
        }

        p {
          display: inline-block;
        }
      }
    }

    .faculty-member {
      width: 100%;
      padding: 2rem 0;
      margin-bottom: 3rem;
      border-bottom: 2px solid rgba($color-tertiary-light, 1);

      &__photo {
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        background-color: rgba($color-tertiary-light, 0.2);
        margin-bottom: 3rem;
        padding: 2rem;

        &--photo {
          width: 15rem;
          height: 20rem;
          background-color: black;
          display: inline-block;
          margin-right: 2rem;

          img {
            @include imageFill;
          }
        }

        &--name {
          display: inline-block;
          @include zeroAround;

          h3 {
            font-size: $h3-font-size;
            color: $color-primary-light;
          }

          h4 {
            @include page-paragraph;
            @include zeroAround;
          }
        }
      }
    }

    &--ul {
      padding-left: 1.5rem;

      li {
        @include page-bullet;
      }
    }

    &--module-ul {
      // padding-left: 1.5rem;

      li {
        @include module-bullet;
      }
    }

    p {
      @include page-paragraph;
    }

    a {
      color: $color-grey-dark;
      transition: all 0.2s;

      &:hover {
        color: $color-tertiary-dark;
      }
    }

    .page-p-bold {
      font-weight: 600;
    }
    .page-p-module {
      @include zeroAround;
      font-weight: 600;
    }

    .syllabus-cards-container {
      @include flexRow;
      margin: $margin-tiny 0;
      gap: 2rem;
      justify-content: flex-start;

      @include respond(tab-land) {
        width: 100%;
      }
    }
  }

  .faculty-cards-container {
    @include flexRow;
    padding-top: $margin-tiny;
    margin-bottom: $margin-tiny;
    flex-wrap: wrap;
    gap: 3rem;

    @include respond(tab-land) {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
    }

    @include respond(tab-port) {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
    }

    @include respond(phone) {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .faculty-card {
      display: block;
      position: relative;
      width: calc((100% - 6rem) / 3);
      height: 12rem;
      background-image: linear-gradient(
        45deg,
        $color-primary-light,
        $color-secondary-light
      );
      border-radius: 3px;
      transition: all 0.3s;
      cursor: pointer;

      @include respond(tab-port) {
        display: block;
        position: relative;
        width: calc((100% - 4rem) / 3);
      }

      @include respond(phone) {
        display: block;
        position: relative;
        width: calc((100% - 2rem) / 2);
      }

      &:hover .faculty-card__overlay {
        opacity: 1;
      }

      &:hover .faculty-card__text--h3 {
        color: $color-black;
      }

      &__overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-tertiary-light;
        opacity: 0;
        transition: all 0.3s;
        border-radius: 3px;
      }

      &__text {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        text-align: center;
        z-index: 10;

        &--h3 {
          text-align: center;
          font-size: $h2-font-size;
          color: $color-white;
          @include zeroAround;
          display: block;
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          font-weight: 200;
          transition: all 0.3s;
        }

        &--p {
          line-height: 2.5rem;
        }

        &--link {
          line-height: 2.5rem;
          @include zeroAround;
          display: block;
          position: relative;
          bottom: 0;

          a {
            @include primary-btn;
            // @include zeroAround;
          }
        }
      }
    }
  }

  &__sidebar {
    width: 35rem;
    height: auto;
    display: inline-block;
    position: relative;
    float: right;
    box-sizing: border-box;

    @include respond(tab-land) {
      width: 30%;
    }

    @include respond(tab-port) {
      display: none;
    }

    &--links {
      background-color: $color-tertiary-light;
      margin-bottom: 4rem;

      h3 {
        @include course-page-sidebar-title;
      }

      ul {
        width: 100%;
        @include zeroAround;

        li {
          @include page-sidebar-list;

          a {
            @include page-sidebar-list-link-black;

            &:hover {
              background-color: $color-tertiary-dark;
            }
          }
        }
      }
    }
  }
}
