.blog-page {
  position: relative;
  display: block;
  width: $full-width;
  @include zeroAround;

  &__topband {
    position: relative;
    display: block;
    width: $full-width;
    margin: 0 auto;
    height: 30rem;
    background-color: $color-secondary-light;
    border-bottom: 4px solid $color-secondary-dark;

    @include respond(tab-port) {
      height: 25rem;
    }

    .blog-page-top-band__header {
      width: $site-width;
      height: 100%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 90%;
        min-width: 90rem;
      }

      @include respond(tab-port) {
        width: 90%;
        min-width: 50rem;
      }

      @include respond(phone) {
        width: 90%;
        min-width: 37.5rem;
      }

      > div {
        display: block;
        position: relative;
      }

      &--title {
        float: left;
        height: 100%;
        width: 50%;

        @include respond(phone) {
          width: 100%;
        }

        h1 {
          @include page-title-white;
        }
      }

      &--image {
        display: block;
        position: relative;
        top: 40%;
        width: 100%;
        height: 40rem;
        background-color: black;
        overflow: hidden;
        float: right;
        border-bottom: 4px solid $color-secondary-dark;
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);

        img {
          width: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}

.blog-page-content {
  @include message-content-specification;

  @include respond(tab-land) {
    width: 90%;
  }

  &__main {
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    .blog-item {
      width: calc((100% - 2rem) / 2);
      height: 20rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
      position: relative;
      border: 1px solid $color-white;
      transition: all 0.3s;
      background-color: rgba($color-secondary-light, 0.2);

      @include respond(phone) {
        width: 100%;
      }

      &:hover {
        border: 1px solid $color-secondary-light;
      }

      &__pic {
        width: 50%;
        height: 100%;

        img {
          @include imageFill;
        }
      }

      &__text {
        width: 50%;
        height: 100%;
        padding: 2rem 2rem 2rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h3 {
          font-size: 2rem;
          font-weight: 600;
          color: $color-primary-dark;
          @include montserrat;

          a:link {
            font-size: 2rem;
            font-weight: 600;
            color: $color-primary-dark;
            @include montserrat;
            text-decoration: none;
            transition: all 0.3s;

            &:hover {
              color: $color-primary-light;
            }
          }
        }
      }
    }

    p {
      @include page-paragraph;

      .bold-name {
        font-weight: 600;
        font-size: 1.8rem;
      }

      a {
        color: $color-secondary-light;
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
          color: $color-tertiary-dark;
        }

        &:visited {
          color: $color-secondary-light;
        }
      }
    }
  }

  &__sidebar {
    width: 35rem;
    height: auto;
    display: inline-block;
    position: relative;
    background-color: $color-secondary-light;
    float: right;
    box-sizing: border-box;

    @include respond(tab-land) {
      width: 30%;
    }

    @include respond(tab-port) {
      display: none;
    }

    h3 {
      @include inside-page-sidebar-title;
    }

    ul {
      width: 100%;
      @include zeroAround;

      li {
        @include page-sidebar-list;

        a {
          @include page-sidebar-list-link-white;

          &:hover {
            background-color: $color-secondary-dark;
          }
        }
      }
    }
  }
}
