.section-placement,
.section-training,
.section-records {
  width: $full-width;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.section-content {
  width: $site-width;
  margin: 0 auto;
  height: auto;
  position: relative;

  @include respond(tab-land) {
    width: 90%;
  }
}

.section-placement {
  background-image: url('../img/students.jpg');
}

.section-training {
  background-image: url('../img/training.jpg');
}

.section-records {
  background-image: url('../img/job.jpg');
}

.section-partners {
  width: $full-width;
  display: block;

  &__heading {
    display: block;
    text-align: center;
    font-weight: 200;
  }
}

.text-box {
  display: block;
  position: absolute;
  top: 10rem;
  width: 50rem;
  text-align: left;
  padding: 5rem;
  box-sizing: border-box;
  background-color: rgba($color-secondary-dark, 0.9);
  color: $color-white;

  @include respond(phone) {
    display: block;
    position: relative;
    bottom: 2rem;
    padding: 2rem;
    width: 60%;
    height: auto;
    background-color: none;
    background-color: rgba($color-secondary-dark, 0.9);
  }

  h2 {
    @include page-heading-white;
    display: block;
    position: relative;
  }

  p {
    @include page-paragraph;
    text-align: left;
    width: 100%;
    color: $color-white;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    display: block;
  }
}

.placement-partners {
  display: block;
  position: relative;
  width: $site-width;
  margin: 0 auto;

  @include respond(tab-land) {
    width: 90%;
  }

  @include respond(phone) {
    width: 90%;
  }

  h2 {
    @include page-heading-secondary;
    text-align: center;

    @include respond(phone) {
      font-size: $h3-font-size;
    }
  }

  .placement-partners-block {
    @include flexRow;
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: center;

    @include respond(phone) {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }

    &__item {
      width: calc((100% - 8rem) / 9);

      @include respond(tab-land) {
        width: calc((100%) / 6);
      }

      @include respond(tab-port) {
        width: calc((100%) / 5);
      }

      @include respond(phone) {
        width: calc((100%) / 4);
      }

      img {
        width: 100%;
      }
    }
  }
}

.recruitments-details {
  background-color: rgba($color-secondary-dark, 0.1);

  &__h2 {
    @include page-heading-secondary;
    text-align: center;
  }
}
