.course-page {
  position: relative;
  display: block;
  @include zeroAround;

  &__topband {
    position: relative;
    display: block;
    background-color: $color-tertiary-light;
    width: $full-width;
    height: 50rem;
    margin: 0 auto;
    border-bottom: 4px solid $color-tertiary-dark;

    @include respond(tab-port) {
      width: 100%;
      height: 30rem;
    }

    .course-page-top-band__header {
      width: $site-width;
      height: 100%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 90%;
        min-width: 90rem;
      }

      @include respond(tab-port) {
        width: 90%;
        min-width: 50rem;
      }

      > div {
        width: 50%;
        display: block;
        position: relative;
      }

      &--title {
        float: left;
        height: 100%;
        h1 {
          @include page-title-primary;
        }
      }

      &--image {
        display: block;
        position: relative;
        top: 40%;
        width: 100%;
        height: 40rem;
        background-color: black;
        overflow: hidden;
        float: right;
        border-bottom: 4px solid $color-tertiary-dark;
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);

        @include respond(tab-land) {
          height: 35rem;
        }

        @include respond(tab-port) {
          height: 25rem;
        }

        img {
          width: 100%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          @include respond(tab-land) {
            object-fit: cover;
            height: 100%;
          }
        }
      }
    }
  }
}

.course-page-content {
  @include course-content-specification;

  @include respond(tab-land) {
    width: 90%;
  }

  &__main {
    width: 80rem;
    height: auto;
    display: inline-block;
    position: relative;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }

    &--h2 {
      @include page-heading-primary;
    }

    &--h3 {
      color: $color-primary-dark;
      font-weight: 300;
      font-size: $h3-font-size;
    }
    &--h4 {
      color: $color-primary-light;
      font-weight: 300;
      font-size: $h4-font-size;
      font-weight: 500;
    }

    &--description {
      @include page-description;
    }

    &--ul {
      padding-left: 1.5rem;

      li {
        @include page-bullet;
      }
    }

    &--module-ul {
      // padding-left: 1.5rem;

      li {
        @include module-bullet;
      }
    }

    p {
      @include page-paragraph;
    }

    a {
      color: $color-grey-dark;
      transition: all 0.2s;

      &:hover {
        color: $color-tertiary-dark;
      }
    }

    .page-p-bold {
      font-weight: 600;
    }
    .page-p-module {
      @include zeroAround;
      font-weight: 600;
    }
  }

  .faculty-cards-container {
    @include flexRow;
    padding-top: $margin-tiny;
    margin-bottom: $margin-tiny;
    gap: 3rem;

    .faculty-card {
      display: block;
      position: relative;
      width: calc((80rem - 6rem) / 3);
      height: 12rem;
      background-image: linear-gradient(
        45deg,
        $color-primary-light,
        $color-secondary-light
      );
      border-radius: 3px;
      transition: all 0.3s;

      &:hover .faculty-card__overlay {
        opacity: 1;
      }

      &:hover .faculty-card__text--h3 {
        color: $color-black;
      }

      &__overlay {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color-tertiary-light;
        opacity: 0;
        transition: all 0.3s;
        border-radius: 3px;
      }

      &__text {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        text-align: center;
        z-index: 10;

        &--h3 {
          text-align: center;
          font-size: $h2-font-size;
          color: $color-white;
          @include zeroAround;
          display: block;
          position: absolute;
          width: 100%;
          top: 50%;
          transform: translateY(-50%);
          font-weight: 200;
          transition: all 0.3s;
        }

        &--p {
          line-height: 2.5rem;
        }

        &--link {
          line-height: 2.5rem;
          @include zeroAround;
          display: block;
          position: relative;
          bottom: 0;

          a {
            @include primary-btn;
            // @include zeroAround;
          }
        }
      }
    }
  }

  .humanities-science-cards-container {
    @include flexRow;
    padding-top: $margin-tiny;
    margin-bottom: $margin-tiny;
    gap: 3rem;

    .humanities-science-card {
      display: block;
      position: relative;
      width: calc((80rem - 3rem) / 2);
      height: 16rem;
      background-image: linear-gradient(
        45deg,
        $color-primary-light,
        $color-secondary-light
      );
      border-radius: 3px;
      transition: all 0.3s;
      padding: 2rem;
      box-sizing: border-box;

      &:hover .humanities-science__overlay {
        opacity: 1;
      }

      &:hover .humanities-science__text--h3 {
        color: $color-black;
      }

      &__text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: space-between;
        text-align: left;
        z-index: 10;

        &--h3 {
          font-size: $h2-font-size;
          color: $color-white;
          @include zeroAround;
          font-weight: 200;
          transition: all 0.3s;
          line-height: 3.5rem;
          padding-bottom: 1.2rem;
        }

        &--p {
          line-height: 2.5rem;
        }

        &--link {
          line-height: 2.5rem;
          @include zeroAround;
          display: block;
          position: relative;
          bottom: 0;

          a {
            @include primary-btn;
            // @include zeroAround;
          }
        }
      }
    }
  }

  &__sidebar {
    width: 35rem;
    height: auto;
    display: inline-block;
    position: relative;
    float: right;
    box-sizing: border-box;

    @include respond(tab-land) {
      width: 30%;
    }

    @include respond(tab-port) {
      display: none;
    }

    &--links {
      background-color: $color-tertiary-light;
      margin-bottom: 4rem;

      h3 {
        @include course-page-sidebar-title;
      }

      ul {
        width: 100%;
        @include zeroAround;

        li {
          @include page-sidebar-list;

          a {
            @include page-sidebar-list-link-black;

            &:hover {
              background-color: $color-tertiary-dark;
            }
          }
        }
      }
    }

    &--contact {
      background-color: $color-tertiary-light;
      margin-bottom: 2rem;

      h3 {
        @include course-page-sidebar-title;
      }

      h4 {
        @include course-page-sidebar-hod;
      }

      p {
        padding: 0 2.5rem;
        color: $color-black;
        width: 100%;
      }
      .contact-timing {
        font-weight: 600;
        padding-bottom: 1rem;
      }
    }
  }
}
