.section-placement,
.section-training,
.section-records {
  width: $full-width;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.section-content {
  width: $site-width;
  margin: 0 auto;
  height: auto;
  position: relative;
  transition: all 0.5s;

  @include respond(tab-land) {
    width: 90%;
  }
}

.section-placement {
  background-image: url('../img/placement-mission.jpg');
}

.section-training {
  background-image: url('../img/placement-modus.jpg');
}

.section-records {
  background-image: url('../img/cgi.jpg');
}

.section-partners {
  width: $full-width;
  display: block;

  &__heading {
    display: block;
    text-align: center;
    font-weight: 200;
  }
}

.text-box {
  display: block;
  position: absolute;
  top: 10rem;
  width: 50rem;
  text-align: left;
  padding: 5rem;
  box-sizing: border-box;
  background-color: rgba($color-secondary-dark, 0.9);
  color: $color-white;

  @include respond(phone) {
    display: block;
    position: relative;
    bottom: 2rem;
    padding: 2rem;
    width: 60%;
    height: auto;
    background-color: none;
    background-color: rgba($color-secondary-dark, 0.9);
  }

  h2 {
    @include page-heading-white;
    display: block;
    position: relative;
  }

  p {
    @include page-paragraph;
    text-align: left;
    width: 100%;
    color: $color-white;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    display: block;
  }

  a {
    @include primary-btn;
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
}

.placement-partners {
  display: block;
  position: relative;
  width: $site-width;
  margin: 0 auto;

  @include respond(tab-land) {
    width: 90%;
  }

  @include respond(phone) {
    width: 90%;
  }

  h2 {
    @include page-heading-secondary;
    text-align: center;

    @include respond(phone) {
      font-size: $h3-font-size;
    }
  }

  .placement-partners-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 4rem;

    @include respond(phone) {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 2rem;
    }

    &__item {
      width: calc((100%) / 9);
      height: 8rem;

      @include respond(tab-land) {
        width: calc((100%) / 6);
      }

      @include respond(tab-port) {
        width: calc((100%) / 5);
      }

      @include respond(phone) {
        width: calc((100%) / 3.5);
      }

      img {
        @include imageFill;
        display: block;
      }
    }
  }
}

.recruitments {
  background-color: rgba($color-secondary-dark, 0.1);
  .recruitments-details {
    height: auto;
    width: $site-width;
    margin: 0 auto;

    @include respond(phone) {
      width: 100%;
    }

    &__h2 {
      @include page-heading-secondary;
      text-align: center;
      margin-bottom: 2rem;
    }

    .testimonial-block {
      text-align: center;
      display: block;
      width: 80rem;
      margin: 0 auto;

      @include respond(phone) {
        width: 90%;
      }

      &__pic {
        width: 12rem;
        height: 12rem;
        overflow: hidden;
        border-radius: 100%;
        margin: 0 auto 2rem auto;

        @include respond(phone) {
          width: 20rem;
          height: 20rem;
        }

        img {
          @include imageFill;
        }
      }

      &__text {
        &--name {
          color: $color-primary-light;
          font-size: 2.5rem;
          font-weight: 500;

          @include respond(phone) {
            font-size: 3rem;
            width: 100%;
          }
        }

        &--details {
          font-size: 1.2rem;
          font-weight: 500;
          display: block;
          width: 40%;

          @include respond(phone) {
            font-size: 2rem;
          }
        }

        &--offers {
          font-size: 1.3rem;
          font-weight: 600;
          width: 70%;
          margin-bottom: 2rem;
          line-height: normal;

          @include respond(phone) {
            font-size: 1.5rem;
          }
        }

        &--quote {
          font-size: 2rem;
          font-style: italic;
          color: $color-primary-light;
          width: 100%;

          @include respond(phone) {
            font-size: $default-font-size;
            line-height: 3rem;
          }
        }
      }
    }
  }
}
