.inside-page {
  position: relative;
  display: block;
  width: $full-width;
  @include zeroAround;

  &__topband {
    position: relative;
    display: block;
    background-color: $color-secondary-light;
    width: $full-width;
    height: 50rem;
    margin: 0 auto;
    border-bottom: 4px solid $color-secondary-dark;

    .inside-page-top-band__header {
      width: $site-width;
      height: 100%;
      margin: 0 auto;

      > div {
        width: 50%;
        display: block;
        position: relative;
      }

      @include respond(tab-land) {
        width: 90%;
        min-width: 90rem;
      }

      &--title {
        float: left;
        height: 100%;

        h1 {
          @include page-title-white;
          color: $color-white;
        }
      }

      &--image {
        display: block;
        position: relative;
        top: 40%;
        width: 100%;
        height: 40rem;
        overflow: hidden;
        float: right;
        border-bottom: 4px solid $color-secondary-dark;
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.3);

        @include respond(tab-land) {
          height: 35rem;
        }

        img {
          object-fit: cover;
          // width: 100%;
          // position: absolute;
          // top: 50%;
          // left: 50%;
          // transform: translate(-50%, -50%);

          @include respond(tab-land) {
            width: 100%;
            width: auto;
          }
        }
      }
    }
  }
}

.inside-page-content {
  @include page-content-specification;

  &__main {
    width: 80rem;
    height: auto;
    display: inline-block;
    position: relative;

    h2 {
      @include page-heading-secondary;
    }

    h3 {
      @include page-h3-secondary;
    }

    p {
      @include page-paragraph;
    }

    &--ul {
      padding-left: 1.5rem;

      li {
        @include page-bullet;
      }
    }

    &--description {
      @include page-description;
    }

    .mentors {
      @include flexRow;
      justify-content: flex-start;
      width: 100%;
      gap: 2rem;
      margin-top: 1rem;

      &__card {
        width: calc((100% - 6rem) / 4);
        height: 24rem;
        text-align: center;
        padding: 1rem;
        box-sizing: border-box;
        background-color: rgba($color-secondary-light, 0.1);
        // border: 1px solid $color-grey-light-1;

        &--image {
          height: 18.5rem;

          img {
            width: 100%;
          }
        }

        &--name {
          @include zeroAround;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.5rem;
        }

        &--description {
          @include zeroAround;
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.5rem;
        }
      }
    }
  }

  &__sidebar {
    width: 35rem;
    height: auto;
    display: inline-block;
    position: relative;
    background-color: $color-secondary-light;
    float: right;
    box-sizing: border-box;

    h3 {
      @include inside-page-sidebar-title;
      // color: $color-white;
      background-color: darken($color-secondary-light, 5%);
    }

    ul {
      width: 100%;

      li {
        @include page-sidebar-list;

        a {
          @include page-sidebar-list-link-white;

          &:hover {
            background-color: darken($color-secondary-light, 5%);
          }
        }
      }
    }
  }
}
